=================================================

Milestone 2

Nama : Pujo Prasetyo Aji

Email : pujo.prasetyoaji@gmail.com

Objective : 

Notebook ini digunakan untuk melakukan proses inference untuk menguji model machine learning dengan algoritma CatBoost yang telah dibuat

=================================================

# I. Import Library

Bagian ini digunakan untuk memuat library yang dibutuhkan

In [1]:
#import library
import pickle
import json
import pandas as pd

# Load Files

Bagian ini digunakan untuk memuat data reference

In [2]:
##Load Files
cat_columns = json.load(open('list_cat_cols.txt', 'r'))
num_columns = json.load(open('list_num_cols.txt', 'r'))
model_catboost = pickle.load(open('model_CatBoost.pkl', 'rb'))

# Create New Data

Bagian ini digunakan untuk membuat data baru yang berbeda dari dataset sebelumnya

In [3]:
#Membuat data baru
data_inf = [
    {
        'Gender': 'Male',
        'Age': 28,
        'Height': 176,
        'Weight': 85,
        'genetic_overweight': 'no',
        'Eating_High_Calories': 'yes',
        'Eating_Vegi_Freq': 'Always',
        'Daily_Meals': 2,
        'Eating_Snack_Freq': 'Sometimes',
        'SMOKE': 'yes',
        'Daily_Water': 2.5,
        'Calories_Monitoring': 'no',
        'Physical_Activity_Freq': 1.5,
        'Alcohol_Freq': 'no',
        'MTRANS': 'Motorbike'
    },
    {
        'Gender': 'Female',
        'Age': 27,
        'Height': 166,
        'Weight': 52,
        'genetic_overweight': 'no',
        'Eating_High_Calories': 'yes',
        'Eating_Vegi_Freq': 'Sometimes',
        'Daily_Meals': 3,
        'Eating_Snack_Freq': 'Sometimes',
        'SMOKE': 'no',
        'Daily_Water': 2,
        'Calories_Monitoring': 'no',
        'Physical_Activity_Freq': 2.5,
        'Alcohol_Freq': 'no',
        'MTRANS': 'Walking'
    },
    {
        'Gender': 'Male',
        'Age': 238,
        'Height': 180,
        'Weight': 135,
        'genetic_overweight': 'yes',
        'Eating_High_Calories': 'yes',
        'Eating_Vegi_Freq': 'Sometimes',
        'Daily_Meals': 3,
        'Eating_Snack_Freq': 'Sometimes',
        'SMOKE': 'no',
        'Daily_Water': 2.5,
        'Calories_Monitoring': 'no',
        'Physical_Activity_Freq': 1,
        'Alcohol_Freq': 'yes',
        'MTRANS': 'Public_Transportation'
    }
]

data_inf = pd.DataFrame(data_inf)
data_inf

,Gender,Age,Height,Weight,genetic_overweight,Eating_High_Calories,Eating_Vegi_Freq,Daily_Meals,Eating_Snack_Freq,SMOKE,Daily_Water,Calories_Monitoring,Physical_Activity_Freq,Alcohol_Freq,MTRANS
0,Male,28,176,85,no,yes,Always,2,Sometimes,yes,2.5,no,1.5,no,Motorbike
1,Female,27,166,52,no,yes,Sometimes,3,Sometimes,no,2.0,no,2.5,no,Walking
2,Male,238,180,135,yes,yes,Sometimes,3,Sometimes,no,2.5,no,1.0,yes,Public_Transportation

Setelah data dibuat, data dibagi berdasarkan kolom numerikal dan kategorikal seperti yang ada pada model reference

In [4]:
#Memanggil data numerik dan kategorikal
data_inf_num = data_inf[num_columns]
data_inf_cat = data_inf[cat_columns]
data_inf_cat

,Gender,genetic_overweight,Eating_High_Calories,Eating_Vegi_Freq,Eating_Snack_Freq,SMOKE,Calories_Monitoring,Alcohol_Freq,MTRANS
0,Male,no,yes,Always,Sometimes,yes,no,no,Motorbike
1,Female,no,yes,Sometimes,Sometimes,no,no,no,Walking
2,Male,yes,yes,Sometimes,Sometimes,no,no,yes,Public_Transportation

Setelahnya data numerik dan kategori disatukan kembali menjadi data final

In [5]:
#Menyatukan kembali numerikal dan kategorikal kolom
data_inf_final = pd.concat([data_inf_num, data_inf_cat], axis=1)
data_inf_final

,Age,Height,Weight,Daily_Meals,Daily_Water,Physical_Activity_Freq,Gender,genetic_overweight,Eating_High_Calories,Eating_Vegi_Freq,Eating_Snack_Freq,SMOKE,Calories_Monitoring,Alcohol_Freq,MTRANS
0,28,176,85,2,2.5,1.5,Male,no,yes,Always,Sometimes,yes,no,no,Motorbike
1,27,166,52,3,2.0,2.5,Female,no,yes,Sometimes,Sometimes,no,no,no,Walking
2,238,180,135,3,2.5,1.0,Male,yes,yes,Sometimes,Sometimes,no,no,yes,Public_Transportation

# Predict Data

Tahap terakhir dilakukan prediksi data menggunakan model yang sudah dibuat

In [6]:
# Menggunakan model untuk prediksi
y_pred = model_catboost.predict(data_inf_final)
print("Hasil prediksi:", y_pred)

Hasil prediksi: [['Overweight_Level_I']
 ['Insufficient_Weight']
 ['Obesity_Type_II']]

Hasil prediksi model CatBoost pada data baru menunjukkan bahwa data pertama terdeteksi mengalami overweight level 1, \
pada data kedua orang tersebut memiliki berat badan yang kurang ideal, \
sedangkan pada data kegita orang tersebut terdeteksi memiliki obesitas tipe 2.